<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/menu"
        android:label="SUVI"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".InsertExamActivity" />
        <activity android:name=".QuestionsActivity" />
        <activity android:name=".SetActivity" />
        <activity android:name=".CategoriesActivity" />
        <activity android:name=".QuizStudent" />
        <activity
            android:name=".SettingsStudentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccountActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FavoriteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".SignUpProfesor"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>

</manifest>